* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
min-height: 50vh;
margin-top: 20vh;
display: flex;
justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding-top: 20%;
    height: 65vh;
    width: 90vh;
}
.hidden {
    display: none;
}


/* .startcard{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 20%;
text-align: center;
} */


/* 
// document.getElementById("startbtn").addEventListener("click", myFunction);

// var countDownSec = 75;
// var timer = document.getElementById('timer');
// var interval;

// function myFunction() {
//   // add html for timer
//   timer.innerText = "Time:" + countDownSec
//   document.getElementsByClassName("card")[0].prepend(timer)
//   interval = setInterval(setTime, 1000);
//    // start timer
//   // display question
// }


// var questionEl = document.getElementById("question")
// var answerButton = document.getElementById("answer-btns")


// var currentQuestionIndex = 0;
// var score = 0;



// function setTime() {
//     timer.innerText = "Time:" + countDownSec
//    countDownSec--;
//    if(countDownSec === 0) {
//     clearInterval(interval);
//    }
// }  
 */

