* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
min-height: 50vh;
margin-top: 20vh;
display: flex;
justify-content: center;
}

.card{
    display: flex;
    justify-content: center;
    text-align: center;
    border: 2px solid black;
    padding-top: 15vh;
    height: 65vh;
    width: 90vh;
}
.hidden {
    display: none;
}


/* .startcard{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 20%;
text-align: center;
} */
